.total {
    text-align: center;
}

.cards {
    padding: 20px;
    text-align: center;
    display: flex;
    padding: 0px 500px 0px 500px;
    justify-content: space-around;
}

.input1 {
    height: 30px;
    width: 60px;
}

.input2 {
    height: 30px;
    width: 60px;
    display: flex;
}

.input3 {
    height: 30px;
    width: 60px;
    display: flex;
}

.name {
    text-align: left;
}

.btn {
    background-color: lightskyblue;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}