.total {
    text-align: center;
}

.card {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px 500px 0px 500px;
}

.email {
    height: 30px;
}

.password {
    height: 30px;
}

.signin {
    margin: 20px;
    height: 30px;
}